<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anas.socialapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginpkg.LoginActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".dummy.DummyActivity"
            android:label="@string/title_activity_dummy"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anas.socialapp.MainActivity" />
        </activity>
        <activity
            android:name=".UserActivities.ActivityUser"
            android:label="@string/title_activity_user"
            android:parentActivityName=".dummy.DummyActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.anas.socialapp.dummy.DummyActivity" />
        </activity>
    </application>

</manifest>